# xtb demo
WEBSOCKET_URL=wss://ws.xtb.com/demo
WEBSOCKET_STREAM_URL=wss://ws.xtb.com/demoStream

# xtb account
USER_ID=
USER_PASSWORD=

# database
# Set PSQL_HOST to the correct database host as specified in docker-compose.yaml
# when starting the application with Docker Compose
PSQL_HOST=db
PSQL_PORT=5432
PSQL_USER=
PSQL_PASSWORD=
PSQL_DATABASE=
PSQL_SSLMODE=disable
DB_CONNECTION_MAX_ATTEMPTS=10
DB_CONNECTION_NEXT_TRY_TIME_SEC=5

# client
WS_CLIENT_PING_INTERVAL_SEC=59
WS_CLIENT_CONNECTION_POOL_SIZE=2
WS_CLIENT_CONNECTION_MAX_ATTEMPTS=5
WS_CLIENT_CONNECTION_RECONNECT_NEXT_TRY_TIME_SEC=10
# stream
WS_CLIENT_STREAM_PING_INTERVAL_SEC=59

# trade parameters
VOLUME_TO_BUY_SELL=0.05