# xtb
WEBSOCKET_URL=wss://ws.xtb.com/demo

# xtb account
USER_ID=
USER_PASSWORD=

# database
PSQL_HOST=
PSQL_PORT=
PSQL_USER=
PSQL_PASSWORD=
PSQL_DATABASE=
PSQL_SSLMODE=
DB_CONNECTION_MAX_ATTEMPTS=10
DB_CONNECTION_NEXT_TRY_TIME_SEC=5

# client
WS_CLIENT_PING_INTERVAL_SEC=59
WS_CLIENT_CONNECTION_POOL_SIZE=5
WS_CLIENT_CONNECTION_MAX_ATTEMPTS=10
WS_CLIENT_CONNECTION_RECONNECT_NEXT_TRY_TIME_SEC=10